@charset "UTF-8";

:root {
    --color0: #202122;
    --color1: #26303B;
    --color2: #465A6E;
    --color3: #83888e;
    --color4: #AFB5BA;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color4);
}

header {
    padding: 15px;
    margin: auto;
    text-align: center;
}

p{
    padding: 15px;
}

input {
    padding: 5px;
    border-radius: 15px;
    border: 2px solid black;
}

input:hover{
    border: 2px solid #ffa500;
}

#word{
    display: inline-block;
    margin: auto;
    text-align: center;
}

.letter {
    display: inline-block;
    width: 7%;
    height: 35px;
    background-color: var(--color2);
    text-align: center;
    font-size: 1.5em;
}

#check-word{
    display: block;
    margin: auto;
    margin-top: 25px;
    font-weight: bolder;
}

#check-word:hover{
    border-color: green;
    background-color: rgb(62, 160, 62);
    color: white;
    cursor: pointer;
}

div{
    display: block;
    text-align: center;
    padding-top: 25px;
}

.alfabeto {
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
    line-height: 2em;
    font-family: 'Courier New', Courier, monospace;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 2px;
    border: 1px solid black;
}

span.correct-letter{
    background-color: rgb(2, 248, 2);
}

span.have-letter{
    background-color: yellow;
}

span.erro-letter{
    background-color: red;
}

footer {
    margin-bottom: 5%;
    padding-top: 35px;
    text-align: center;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 500px) {
    #all-letters{
        display: block;
        width: 350px;
        margin: auto;
    }

    .letter {
        height: 55px;
        font-size: 2.5em;
    }
}